# DATABASE_URL="postgresql://neondb_owner:npg_3kjECTpASJO8@ep-lucky-pine-a4p7l0wb-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"
DATABASE_URL="postgresql://neondb_owner:npg_iUnM9kcTZ8jE@ep-bitter-hat-a1prqmh6-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=5000
NODE_ENV=development
APP_URL=http://localhost:5000

# JWT
JWT_SECRET=5f4c8ea0acfe3d39266606a0c2ea14643d098805f5aefdf9c154fb6c4bad188131b272ca88f72e7d23dd12b19b48caae92282a552621
JWT_ACCESS_EXPIRES_IN=1h
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# CORS
CORS_ORIGIN=http://localhost:3000,http://localhost:3001

# Rate Limiting
RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX=100

# Bcrypt
BCRYPT_SALT_ROUNDS=10



# Email Configuration 
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=ibrahimsikder5033@gmail.com
EMAIL_PASSWORD=bheb owyn erof xnpe
EMAIL_FROM=ibrahimsikder5033@gmail.com
APP_URL=http://localhost:3000